<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="conString" connectionString="Data Source=CGOL1850793\LOCALBLENDERTEST;Initial Catalog=BlenderJuly30_2020;Integrated Security=True" />
    <add name="conString1" connectionString="Data Source=CGOL1850793\LOCALBLENDERTEST;Initial Catalog=BlenderJuly30_2020;Integrated Security=True" />
  </connectionStrings>

</configuration>